{% extends 'base.html' %}

{% block title %}
NewsRead - Breaking News
{% endblock %}

{% block content %}

<br >
<article>
          <div class="blog-post-header-div">
                  <a class="blog-post-title" href="#" target=_blank><header><h1><strong>Skills for software developers that can fetch money</strong></h1></header></a>
    </div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg/640px-Good_Food_Display_-_NCI_Visuals_Online.jpg"  />
    <br >
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Igitur neque stultorum quisquam beatus neque sapientium non beatus. Si enim ad populum me vocas, eum. Cum autem in quo sapienter dicimus, id a primo rectissime dicitur. Itaque eos id agere, ut a se dolores, morbos, debilitates repellant. Neque enim disputari sine reprehensione nec cum iracundia aut pertinacia recte disputari potest.</p>
    <br >
  </article>
<style>
body{
        background-color: #212121;
}
img{
  float: left;
  margin-right: 1em;
  height: 150px;
}
article{
  background: white;
  color: blue;
  padding: 1px;
  overflow: auto;
}
#heading{
  clear: right;
}
.blog-post-header-div{
        background-color: #212121;
}
.blog-post-title{
        text-align: center;
        color: white;

}
</style>
{% endblock %}
